<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pet List</title>
</head>
<body>
   <h1 th:text="'Pet List'">Pet list</h1> 
   	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>First Name</td>
				<td>Last Name</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vet : ${listVet}">
				<td th:text="${vet?.id}">1</td>
				<td th:text="${vet?.fisrtName}">Lokesh</td>
				<td th:text="${vet?.lastName}">Nemade</td>
			</tr>
		</tbody>
	</table> 
</body>
</html>