<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
<meta charset="ISO-8859-1">
<title>Owner page</title>
</head>
<body>
<h1>list of owners</h1>
   	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">ID</td>
				<th style="width: 200px;">First Name</td>
				<th style="width: 120px;">Last Name</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner : ${listOwner}">
				<td th:text="${owner?.id}">1</td>
				<td th:text="${owner?.fisrtName}">Lokesh</td>
				<td th:text="${owner?.lastName}">Nemade</td>
			</tr>
		</tbody>
	</table> 
</body>
</html>